header {
  position: sticky;
  top: 0px;
  left: 0px;
}

#menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: white;
  color: #ED1F29;
}

footer {
  margin-top: auto;
  background-color: black;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info,
.location-info,
.social-links {
  flex: 1;
  margin-right: 20px;
}

.contact-info h4,
.location-info h4,
.social-links h4 {
  color: #fff;
  margin-bottom: 15px;
}

.contact-info p,
.location-info p {
  margin: 0;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.social-links a:hover {
  color: #ED1F29;
  transition: 0.4s;
}

.copyright-info {
  margin-top: 20px;
  color: #fff;
  background-color: #ED1F29;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 40px auto;
  max-width: 400px;
}

fieldset p a {
  text-decoration: underline;
  color: #ED1C24;
}

fieldset p a:hover {
  color: black;
}

legend {
  font-size: 1.2em;
  color: #333;
  font-weight: bold;
}

.cadastro {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.botao-cadastrar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.botao-cadastrar:hover {
  background-color: #45a049;
}

button {
  padding: 10px;
  border: 1px solid #ED1C24;
  background-color: #ED1C24;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: white;
  color: #ED1C24;
}
